<!DOCTYPE html>
<%- include("partials/header"); -%>

  <h1 class="client-job-activity-header">Your jobs/activities:</h1>
      <% if(jobs.length === 0){ %>
        <div class="no-job-div">
          <p class="no-job-text">You have not posted any jobs before, you can use the button below to post a job.</p>
          <button type="button" class="btn btn-success post-a-job-button"> <a href="/client-post-job"><i class="fas fa-plus-square"></i>  Post a Job<a> </button>
        </div>
<% } else { %>
  <%  jobs.forEach(function(job){ %>
    <div class="client-jobs">
      <h4><%=job.clientJobCategory%></h4>
      <p><%=job.clientJobDesc.substring(0, 100) + " ..."%></p>
      <p>Status: <%= job.jobStatus %></p>
      <button type="button" class="btn btn-primary view-job-activity-btn" name="button"><a href="/jobs/<%=job._id%>"><i class="fas fa-eye"></i>  View job/Activity</a></button>
    </div>
      <% }) %>
<% } %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <button type="button" class="btn btn-secondary go-back-button"><a href="/client-home"><i class="fas fa-arrow-left"></i>  Go Back</a></button>
  </body>
</html>
